{% load static %}

<link rel="stylesheet" href="{% static 'portfolioApp/css/achievement.css' %}" />

<div class="timeline" id="achievement">
  <div class="container left">
    <div class="content">
      <h2>2020</h2>
      <p>Internship at CodeApp Co., Ltd</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2019</h2>
      <p>Internship at CodeApp Co., Ltd as ios Developer</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2017</h2>
      <p>Internship at Contentise Co., Ltd as Assistant Marketing Man</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2016</h2>
      <p>Youth of the Nation Award of Thailand</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2016</h2>
      <p>
        Best Software Programming at Robo Cup Asia Pacific Invitational in
        fire-fighting robot
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2015</h2>
      <p>World Robot Olympiad 2015 at Qatar as Thailand Representative</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2015</h2>
      <p>
        Innovative Solution Award at First Lego League Asia Pacific Open
        Competition at Sydney, Australia
      </p>
    </div>
  </div>
</div>
