{% load static %}

<link rel="stylesheet" href="{% static 'portfolioApp/css/profile.css' %}" />

<div id="about" class="profile-container">
  <img
    id="profile-pic"
    alt="Siwat Ponpued Picture"
    src="{% static 'portfolioApp/img/siwat.jpg' %}"
  />
  <h1>Hi, I'm Siwat Ponpued</h1>
  <p>
    I'm currently a thrid year software and knowledge engineering student at
    Kasetsart University and a computer science enthusiast who interested in
    developing the ideas to be implemented in real world business.
  </p>
</div>
