{% load static %}

<link rel="stylesheet" href="{% static 'portfolioApp/css/navbar.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav>
  <input type="checkbox" id="sidemenu-button" />
  <label for="sidemenu-button" class="checkbtn">
    <i class="fa fa-bars"></i>
  </label>
  <label class="logo">Siwat's Portfolio</label>
  <ul>
    <li><a onclick="closeSideMenu()" href="#">About</a></li>
    <li><a onclick="closeSideMenu()" href="#">Achievements & Experiences</a></li>
    <li><a onclick="closeSideMenu()" href="#">Contact</a></li>
  </ul>
</nav>

<script src="{% static 'portfolioApp/js/navbar.js' %}"></script>
