{% load static %}
<link rel="stylesheet" href="{% static 'portfolioApp/css/navbar.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <i class="fa fa-bars"></i>
  </label>
  <label class="logo">Siwat &nbspPonpued</label>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Experience & Achievement</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
