:root {
  --gray: #333841;
  --light-gray: #8e96a7;
  --main-background: #282c34;
  --sub-background: #25272c;
  --font-color: #ffffff;
}

body {
  background: var(--main-background);
}

* {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: var(--font-color);
}

a {
  text-decoration: none;
}
