:root {
  --gray: #b4b4b4;
  --light-gray: #e4e4e4;
  --background: #ffffff;
  --font-color: #292929;
}

*  {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: var(--font-color);
}

a {
  text-decoration: none;
}